<div class="home-container">
  <div class="navigation">
    <button (click)="goToHistory()">View Search History</button>
  </div>
  <h1>Company Information Search</h1>
  <p>Enter Ticker Symbol for Company</p>

  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="query"
      placeholder="Enter company name..."
    />
    <button (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="loading" class="loading">Searching...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <ul *ngIf="results.length">
    <li *ngFor="let result of results">{{ result }}</li>
  </ul>


<div *ngIf="stockData" class="stock-result">
  <h2>{{ stockData.ticker }}</h2>
  <p>Price: ${{ stockData.price | number:'1.2-2' }}</p>
  <p>Change: {{ stockData.change | number:'1.2-2' }}%</p>
  <p>Volume: {{ stockData.volume | number }}</p>
  <p>Day Range: {{ stockData.day_range }}</p>
</div>

  <div class="export-csv">
    <button (click)="exportCSV()">Export History to CSV</button>
  </div>
</div>
